_flows/all_flows.json
[{"id":"1a885c58.082884","type":"tab","label":"intelliCharge","disabled":false,"info":""},{"id":"f5cb9865.36c7b8","type":"tab","label":"theftDetection","disabled":false,"info":""},{"id":"4b8e909d.4ca08","type":"tab","label":"CESpa Map","disabled":false,"info":""},{"id":"abf4e8bb.f36348","type":"tab","label":"Eco friendly driving","disabled":false,"info":""},{"id":"22f1dd09.de0b42","type":"tab","label":"CESpa live view","disabled":false,"info":""},{"id":"1cfaade9.eb5b82","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffa602","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ffa602","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ffa602","edited":true},"page-titlebar-backgroundColor":{"value":"#ffa602","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffc14e","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ffa602","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CESpa meets Scotify","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":7,"cy":7,"px":0,"py":0}}},{"id":"4aafc6c8.718e18","type":"ui_group","z":"","name":"intelliCharge","tab":"d5031f58.d5e8c","order":1,"disp":true,"width":"7","collapse":false},{"id":"d5031f58.d5e8c","type":"ui_tab","z":"","name":"CESpa Home","icon":"map","disabled":false,"hidden":false},{"id":"31cd7c81.a289e4","type":"ui_group","z":"","name":"Default","tab":"552c1bc1.c66854","disp":true,"width":"12","collapse":false},{"id":"552c1bc1.c66854","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fe939f68.5a9d4","type":"ui_group","z":"","name":"theftDetection","tab":"d5031f58.d5e8c","order":2,"disp":true,"width":"7","collapse":false},{"id":"63558a64.8b1bd4","type":"nexmobasic","z":""},{"id":"e1dffd59.0743c","type":"ui_group","z":"","name":"Teste","tab":"","disp":false,"width":"6"},{"id":"db02561c.659c28","type":"ui_group","z":"4b8e909d.4ca08","name":"Default","tab":"effb2354.bb6e9","disp":true,"width":"6"},{"id":"effb2354.bb6e9","type":"ui_tab","z":"4b8e909d.4ca08","name":"Home","icon":"dashboard"},{"id":"7f91402.12da5c","type":"ui_group","z":"","name":"CESpa Map","tab":"d5031f58.d5e8c","order":3,"disp":true,"width":"15","collapse":false},{"id":"46558546.99cedc","type":"ui_group","z":"","name":"Driving efficiency ","tab":"ae88c243.628f5","order":2,"disp":true,"width":"11","collapse":false},{"id":"3044fa73.50a756","type":"ui_group","z":"","name":"Scotify","tab":"ae88c243.628f5","order":1,"disp":true,"width":"12","collapse":false},{"id":"bf44f392.ec2a5","type":"ui_tab","z":"","name":"Your points","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae88c243.628f5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"568f0192.f0a0d","type":"ui_gauge","z":"1a885c58.082884","name":"","group":"4aafc6c8.718e18","order":6,"width":0,"height":0,"gtype":"gage","title":"Wanted charge","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":660,"wires":[]},{"id":"379b9b68.f7ed44","type":"ui_gauge","z":"1a885c58.082884","name":"Current charge","group":"4aafc6c8.718e18","order":2,"width":0,"height":0,"gtype":"gage","title":"Current charge","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":140,"wires":[]},{"id":"4319cfd2.f50ef","type":"charge","z":"1a885c58.082884","name":"","querytimerange":"100000","x":430,"y":140,"wires":[["244e33ed.fd3d9c","2f4d18ed.088d38"]]},{"id":"68acb96c.ed6b68","type":"ui_template","z":"1a885c58.082884","group":"4aafc6c8.718e18","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"https://upload.wikimedia.org/wikipedia/de/thumb/b/b8/Continental_AG_logo.svg/404px-Continental_AG_logo.svg.png\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":640,"wires":[[]]},{"id":"e5e9f39c.d337d","type":"function","z":"1a885c58.082884","name":"","func":"flow.set(\"timeCharge\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[[]]},{"id":"987c342a.d9f448","type":"function","z":"1a885c58.082884","name":"Set flow var for wantedCharge","func":"flow.set(\"wantedCharge\", msg.payload)\n","outputs":1,"noerr":0,"x":470,"y":600,"wires":[[]]},{"id":"a71c4773.f65f78","type":"ui_text_input","z":"1a885c58.082884","name":"","label":"Fully charged at","tooltip":"","group":"4aafc6c8.718e18","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"","x":240,"y":480,"wires":[[]]},{"id":"6554468a.684da8","type":"function","z":"1a885c58.082884","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[[]]},{"id":"a233ede.7ab4b1","type":"inject","z":"f5cb9865.36c7b8","name":"Fetch interall","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["e4a8def3.a86ea","b0854f67.4b801"]]},{"id":"89d98b5d.50bfd8","type":"function","z":"f5cb9865.36c7b8","name":"Detect if the CESpa is moving","func":"var spd = msg.payload.items[0].spd;\nmsg.payload = \"not moving\"\nif(spd > 0.1) {\n    msg.payload = \"moving\"\n}","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["b8ac772a.ed7538"]]},{"id":"b8ac772a.ed7538","type":"switch","z":"f5cb9865.36c7b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"moving","vt":"str"},{"t":"eq","v":"not moving","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":500,"wires":[["2d339be1.d43e94","8a922c4e.2778d","ce5a7b3c.270668"],[]]},{"id":"582d1821.f3ead8","type":"ui_chart","z":"f5cb9865.36c7b8","name":"","group":"fe939f68.5a9d4","order":2,"width":"6","height":"4","label":"GPS Speed of the Sensor","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Fetching data from the GPS-Sensor","dot":true,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"de786e59.97522","type":"sendsms","z":"f5cb9865.36c7b8","creds":"63558a64.8b1bd4","to":"4915773452411","fr":"NEXMO","text":"Die Position von Ihrem Scooter hat sich geändert!","unicode":false,"x":1070,"y":540,"wires":[[]]},{"id":"8b0d38d.d5398c8","type":"random","z":"f5cb9865.36c7b8","name":"Get some random GPS speed","low":"0","high":"100","inte":"true","property":"payload","x":590,"y":220,"wires":[["582d1821.f3ead8"]]},{"id":"e4a8def3.a86ea","type":"gpsspeed","z":"f5cb9865.36c7b8","name":"GPS from CESpa","querytimerange":1,"x":170,"y":340,"wires":[["89d98b5d.50bfd8","f1ca2d65.9fd87"]]},{"id":"f1ca2d65.9fd87","type":"function","z":"f5cb9865.36c7b8","name":"Get current gps speed","func":"msg.payload = msg.payload.items[0].spd;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["582d1821.f3ead8"]]},{"id":"34a0a665.e37bba","type":"ui_audio","z":"f5cb9865.36c7b8","name":"Audio alert user","group":"fe939f68.5a9d4","voice":"en-US","always":true,"x":1000,"y":460,"wires":[]},{"id":"2d339be1.d43e94","type":"function","z":"f5cb9865.36c7b8","name":"Set dangerSound string","func":"if(flow.get(\"playDangerSound\")){\n    msg.payload = \"DANGER! Your caspar is moving. Possible theft detection.\"\n\n    flow.set(\"playDangerSound\", false)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["34a0a665.e37bba"]]},{"id":"fcf286f7.4bb868","type":"inject","z":"f5cb9865.36c7b8","name":"Manual trigger injection ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["b86541a9.9f8df","d4f1b27c.4ff78","b0854f67.4b801"]]},{"id":"d4f1b27c.4ff78","type":"delay","z":"f5cb9865.36c7b8","name":"Delay theft detection","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":340,"wires":[["63ee909d.7a37d","8a922c4e.2778d","ce5a7b3c.270668"]]},{"id":"b86541a9.9f8df","type":"trigger","z":"f5cb9865.36c7b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"Retrigger data generation","x":430,"y":160,"wires":[["8b0d38d.d5398c8"]]},{"id":"63ee909d.7a37d","type":"function","z":"f5cb9865.36c7b8","name":"Set audio payload","func":"msg.payload = \"DANGER! Your CESpa is moving. Possible theft detection. This message was just for test purposes. Thanks for your attention and goodbye.\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":400,"wires":[["34a0a665.e37bba"]]},{"id":"844d690e.3988f8","type":"ui_text","z":"f5cb9865.36c7b8","group":"fe939f68.5a9d4","order":1,"width":"6","height":"1","name":"Visual information","label":"","format":"<div style=\"margin: 0 auto; width: 100px; \"><font color= {{msg.color}} >{{msg.warning}}</font></div>","layout":"row-left","x":1010,"y":220,"wires":[]},{"id":"c88c8626.50ee98","type":"function","z":"f5cb9865.36c7b8","name":"Color Mapping","func":"\nif(flow.get(\"eq\", true)){\n    flow.set(\"eq\", false);\n    msg.warning = \"!!! DANGER !!!\";\n    msg.color = \"yellow\";\n    return msg;\n} else {\n    flow.set(\"eq\", true);\n    msg.warning = \"!!! DANGER !!! Your CESpa is driving without you ):\";\n    msg.color = \"red\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1000,"y":280,"wires":[["844d690e.3988f8"]]},{"id":"8a922c4e.2778d","type":"trigger","z":"f5cb9865.36c7b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-3","extend":false,"units":"s","reset":"","bytopic":"all","name":"Retrigger data generation","x":990,"y":340,"wires":[["c88c8626.50ee98"]]},{"id":"62045ea8.21e29","type":"comment","z":"f5cb9865.36c7b8","name":"This is the example implementation of our theftDetection UseCase","info":"","x":280,"y":80,"wires":[]},{"id":"ea4cb532.f28938","type":"worldmap","z":"f5cb9865.36c7b8","name":"Theftmap","lat":"49.4765","lon":"11.11803","zoom":"16","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"hide","panit":"true","hiderightclick":"false","coords":"none","path":"/theftmap","x":640,"y":680,"wires":[]},{"id":"ce11aa6d.d583f8","type":"function","z":"f5cb9865.36c7b8","name":"Position of theft guy","func":"// create random position\nvar lat = msg.payload.items[0].lat;\nvar lon = msg.payload.items[0].lon;\nmsg.payload={lat:lat, lon:lon, name:\"Position of stolen icon\", icon:\"https://i.ya-webdesign.com/images/skull-icon-png-7.png\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":680,"wires":[["ea4cb532.f28938"]]},{"id":"b0c2c187.88869","type":"ui_template","z":"f5cb9865.36c7b8","group":"fe939f68.5a9d4","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":740,"wires":[[]]},{"id":"ced43d86.e3441","type":"template","z":"f5cb9865.36c7b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../theftmap\" height=\"500px\" ></iframe>","x":450,"y":740,"wires":[["b0c2c187.88869"]]},{"id":"f09e7d2.96edc8","type":"lon-lat","z":"f5cb9865.36c7b8","name":"","querytimerange":1,"x":510,"y":600,"wires":[["ce11aa6d.d583f8"]]},{"id":"6afdd641.70aa98","type":"trigger","z":"f5cb9865.36c7b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"Retrigger lon/lat fetching","x":310,"y":600,"wires":[["f09e7d2.96edc8"]]},{"id":"9d9e15f9.77e0e8","type":"ui_slider","z":"1a885c58.082884","name":"","label":"slider","tooltip":"","group":"4aafc6c8.718e18","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"5","x":190,"y":660,"wires":[["568f0192.f0a0d","987c342a.d9f448"]]},{"id":"244e33ed.fd3d9c","type":"debug","z":"1a885c58.082884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":360,"wires":[]},{"id":"ce5a7b3c.270668","type":"trigger","z":"f5cb9865.36c7b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Trigger only once","x":610,"y":540,"wires":[["b5bad9dd.ad29c8","6afdd641.70aa98","4b871024.62e3d"]]},{"id":"b5bad9dd.ad29c8","type":"function","z":"f5cb9865.36c7b8","name":"Set flow var for detection","func":"flow.set(\"alarmDetection\", true);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["de786e59.97522"]]},{"id":"4b871024.62e3d","type":"function","z":"f5cb9865.36c7b8","name":"Set alarm detection","func":"if(flow.get(\"alarmDetection\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":210,"y":740,"wires":[["ced43d86.e3441"]]},{"id":"b0854f67.4b801","type":"trigger","z":"f5cb9865.36c7b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Trigger only once","x":690,"y":100,"wires":[["658e62ee.9c662c"]]},{"id":"658e62ee.9c662c","type":"function","z":"f5cb9865.36c7b8","name":"Set flow var for detection","func":"flow.set(\"alarmDetection\", false);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":120,"wires":[[]]},{"id":"4995d48b.0b9e5c","type":"inject","z":"1a885c58.082884","name":"Fetch interall","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["4319cfd2.f50ef"]]},{"id":"baede2fa.d38d3","type":"inject","z":"1a885c58.082884","name":"Manual trigger injection ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["4319cfd2.f50ef"]]},{"id":"2f4d18ed.088d38","type":"function","z":"1a885c58.082884","name":"","func":"if(msg.payload.itemsCount === 0){\n    msg.payload = 0;\n    return msg\n} else {\n    flow.set(\"currentCharge\", msg.payload.items[0].chargeState);\n    msg.payload = msg.payload.items[0].chargeState;\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["379b9b68.f7ed44"]]},{"id":"bdba7312.c87dc","type":"worldmap","z":"4b8e909d.4ca08","name":"","lat":"49.4765","lon":"11.11803","zoom":"10","layer":"OSM","cluster":"","maxage":"600","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","path":"","x":910,"y":240,"wires":[]},{"id":"9bae0d94.433ba","type":"function","z":"4b8e909d.4ca08","name":"Random place Sally on map","func":"// create random \nvar lat = 49.32 + Math.random() * 0.2;\nvar lon = 10.54 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"CESpa 2\", icon:\"motorcycle\", iconColor:\"#322222\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["bdba7312.c87dc"]]},{"id":"fad96fb9.9f2ab","type":"inject","z":"4b8e909d.4ca08","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":210,"y":300,"wires":[["566023db.dc076c"]]},{"id":"41202241.6dc1ac","type":"ui_template","z":"4b8e909d.4ca08","group":"7f91402.12da5c","name":"","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":300,"wires":[[]]},{"id":"566023db.dc076c","type":"template","z":"4b8e909d.4ca08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\"  width=\"100%\" height=\"500px\"></iframe>","x":530,"y":300,"wires":[["41202241.6dc1ac"]]},{"id":"6d5906f4.c4c0a8","type":"ui_button","z":"4b8e909d.4ca08","name":"","group":"7f91402.12da5c","order":0,"width":0,"height":0,"passthru":false,"label":"Search my friend Sally","tooltip":"","color":"","bgcolor":"","icon":"fa-motorcycle","payload":"","payloadType":"str","topic":"","x":200,"y":240,"wires":[["9bae0d94.433ba"]]},{"id":"9328cd50.90c32","type":"comment","z":"4b8e909d.4ca08","name":"An simple map showing my position and the position of my friend sally","info":"","x":300,"y":40,"wires":[]},{"id":"f1313f08.77346","type":"function","z":"4b8e909d.4ca08","name":"Set map payload","func":"lat = msg.payload.items[0].lat;\nlon = msg.payload.items[0].lon;\nmsg = {\n    payload: {\n      lat: lat,\n      lon: lon,\n      name: \"CESpa 1\",\n      icon: \"motorcycle\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["bdba7312.c87dc"]]},{"id":"d03a378e.7db7c8","type":"lon-lat","z":"4b8e909d.4ca08","name":"","querytimerange":"1","x":430,"y":140,"wires":[["f1313f08.77346"]]},{"id":"251a4bad.c19274","type":"inject","z":"4b8e909d.4ca08","name":"Fetch interall","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["d03a378e.7db7c8"]]},{"id":"8f204240.c8f4b","type":"inject","z":"4b8e909d.4ca08","name":"Manual trigger injection ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["d03a378e.7db7c8"]]},{"id":"edbc5df8.f30d6","type":"inject","z":"abf4e8bb.f36348","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["983ec791.539468"]]},{"id":"bdf75bfd.c9d468","type":"getoperatingmode","z":"abf4e8bb.f36348","name":"","querytimerange":"2","x":330,"y":280,"wires":[["36c4f4db.8a99cc"]]},{"id":"983ec791.539468","type":"vehiclespeed","z":"abf4e8bb.f36348","name":"","querytimerange":"2","x":330,"y":160,"wires":[["36c4f4db.8a99cc","c39ab1cc.e2e41"]]},{"id":"c39ab1cc.e2e41","type":"acceleration","z":"abf4e8bb.f36348","name":"","querytimerange":"2","x":330,"y":220,"wires":[["36c4f4db.8a99cc","bdf75bfd.c9d468"]]},{"id":"36c4f4db.8a99cc","type":"join","z":"abf4e8bb.f36348","name":"Joins real data","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":660,"y":160,"wires":[["f80c9c1a.ad3ab"]]},{"id":"f80c9c1a.ad3ab","type":"function","z":"abf4e8bb.f36348","name":"Calculates Driving Score (Real)","func":"var spd = 0;\nvar x = 0;\nvar y = 0;\nvar z = 0;\nvar em = 0;\nif(msg.payload[0].itemsCount !== 0) {\n    spd = msg.payload[0].items[0].act_spd;\n}\nif(msg.payload[1].itemsCount !== 0) {\n    x = msg.payload[1].items[0].x;\n    y = msg.payload[1].items[0].y;\n    z = msg.payload[1].items[0].z;\n}\nif(msg.payload[2].itemsCount !== 0){\n    em = msg.payload[2].items[0].em_opm;\n}\nconsole.log(\"Spd is: \" +spd);\nconsole.log(\"OM is: \" +em);\n\nvar oldx = flow.get(\"x\");\nvar oldy = flow.get(\"y\");\nvar oldz = flow.get(\"z\");\n\nflow.set(\"x\", x);\nflow.set(\"y\", y);\nflow.set(\"z\", z);\n\nconsole.log(\"X: \"+x+\" Y: \"+y+\" Z: \" +z);\nconsole.log(\"OX: \"+oldx+\" OY: \"+oldy+\" OZ: \" +oldz);\n\nvar xdiff = Math.abs(oldx-x);\nvar ydiff = Math.abs(oldy-y);\nvar zdiff = Math.abs(oldz-z);\n\nvar currentpoints = flow.get(\"points\");\nif(xdiff > 10 || ydiff > 10 || zdiff > 10) {\n    flow.set(\"points\", currentpoints - 20);\n}\nelse if(xdiff > 5 || ydiff > 5 || zdiff > 5) {\n    flow.set(\"points\", currentpoints -10);\n}\nelse if(xdiff > 1 || ydiff > 1 || zdiff > 1) {\n    flow.set(\"points\", currentpoints -5);\n}\ncurrentpoints = flow.get(\"points\");\n\nif(em === 3) {\n    flow.set(\"points\", currentpoints -1);\n}\ncurrentpoints = flow.get(\"points\");\n\nif(spd < 30) {\n    flow.set(\"points\", currentpoints + 3);\n}\nelse if(spd < 70) {\n    flow.set(\"points\", currentpoints + 2);\n}\nelse if(spd < 100){\n    flow.set(\"points\", currentpoints + 1);\n}\nelse {\n    flow.set(\"points\", currentpoints -1);\n}\ncurrentpoints = flow.get(\"points\");\n\nif(currentpoints > 100 || currentpoints < 0 ) {\n    flow.set(\"points\", 50);\n}\n\nconsole.log(\"Your current points are : \" + currentpoints);\n\n\nmsg.payload = currentpoints;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["3dc21285.40161e","b96d3cc6.32d13"]]},{"id":"eb59f64b.3899a8","type":"inject","z":"abf4e8bb.f36348","name":"Setup Flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":420,"wires":[["94a53710.4c0458"]]},{"id":"94a53710.4c0458","type":"change","z":"abf4e8bb.f36348","name":"Set 0 to x,y,z","rules":[{"t":"set","p":"x","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"y","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"z","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"points","pt":"flow","to":"50","tot":"num"},{"t":"set","p":"simx","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"simy","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"simz","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"simpoints","pt":"flow","to":"50","tot":"num"},{"t":"set","p":"simacceleration","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":420,"wires":[[]]},{"id":"3dc21285.40161e","type":"ui_chart","z":"abf4e8bb.f36348","name":"","group":"46558546.99cedc","order":1,"width":"10","height":"7","label":"Real demochart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":120,"wires":[[]]},{"id":"9ad34667.cd9b58","type":"inject","z":"abf4e8bb.f36348","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["2084b92.42e3f46"]]},{"id":"66442783.43fd68","type":"join","z":"abf4e8bb.f36348","name":"Joins simulated data","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":680,"y":480,"wires":[["7f7dcf4f.d9b47"]]},{"id":"7f7dcf4f.d9b47","type":"function","z":"abf4e8bb.f36348","name":"Calculates Driving Score (Simulated)","func":"var spd = msg.payload[0];\nconsole.log(\"Spd is: \" +spd);\n\nvar acc = msg.payload[1];\nconsole.log(\"Acceleration is: \" +acc);\n\nvar em = msg.payload[2];\nconsole.log(\"OM is: \" +em);\n\nvar oldacc = flow.get(\"simacceleration\");\n\nflow.set(\"simacceleration\",acc);\n\nconsole.log(\"Acceleration: \" + acc);\nconsole.log(\"Old Acceleration \" + oldacc);\nvar currentpoints = flow.get(\"simpoints\");\n\nif(acc > 10) {\n    flow.set(\"simpoints\", currentpoints - 4);\n}\nelse if(acc > 5) {\n    flow.set(\"simpoints\", currentpoints -2);\n}\nelse if(acc > 1) {\n    flow.set(\"simpoints\", currentpoints -1);\n}\ncurrentpoints = flow.get(\"simpoints\");\n\nif(em === 3) {\n    flow.set(\"simpoints\", currentpoints -1);\n}\ncurrentpoints = flow.get(\"simpoints\");\n\nif(spd < 30) {\n    flow.set(\"simpoints\", currentpoints + 5);\n}\nelse if(spd < 70) {\n    flow.set(\"simpoints\", currentpoints + 4);\n}\nelse if(spd < 100){\n    flow.set(\"simpoints\", currentpoints + 3);\n}\nelse {\n    flow.set(\"simpoints\", currentpoints -1);\n}\ncurrentpoints = flow.get(\"simpoints\");\nif(currentpoints > 100 || currentpoints < 0) {\n    flow.set(\"simpoints\", 50);\n}\n\nconsole.log(\"Your current points are : \" + currentpoints);\n\n\nmsg.payload = currentpoints;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":560,"wires":[["b5d79787.a68c38","4fd9db24.db78c4"]]},{"id":"b5d79787.a68c38","type":"ui_chart","z":"abf4e8bb.f36348","name":"","group":"46558546.99cedc","order":2,"width":"10","height":"7","label":"Demo chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":460,"wires":[[]]},{"id":"2084b92.42e3f46","type":"random","z":"abf4e8bb.f36348","name":"vehiclespeed","low":"0","high":"180","inte":"true","property":"payload","x":330,"y":480,"wires":[["66442783.43fd68","3cbcf717.8a24d8"]]},{"id":"3cbcf717.8a24d8","type":"random","z":"abf4e8bb.f36348","name":"acceleration","low":"0","high":"20","inte":"true","property":"payload","x":330,"y":540,"wires":[["66442783.43fd68","9e670f42.08f21"]]},{"id":"9e670f42.08f21","type":"random","z":"abf4e8bb.f36348","name":"getoperatingmode","low":"0","high":"7","inte":"true","property":"payload","x":350,"y":600,"wires":[["66442783.43fd68"]]},{"id":"43ab13c3.9dca9c","type":"ui_audio","z":"abf4e8bb.f36348","name":"Audio","group":"46558546.99cedc","voice":"en-US","always":true,"x":1250,"y":560,"wires":[]},{"id":"4fd9db24.db78c4","type":"function","z":"abf4e8bb.f36348","name":"TTS","func":"if(msg.payload > 100) {\n    msg.payload = \"Very well, good driving\";\n    return msg;\n}\nelse if(msg.payload < 0) {\n    msg.payload = \"You are a terrible driver\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":560,"wires":[["43ab13c3.9dca9c"]]},{"id":"94429530.cc7558","type":"ui_audio","z":"abf4e8bb.f36348","name":"Audio","group":"46558546.99cedc","voice":"en-US","always":true,"x":1250,"y":240,"wires":[]},{"id":"b96d3cc6.32d13","type":"function","z":"abf4e8bb.f36348","name":"TTS","func":"if(msg.payload > 100) {\n    msg.payload = \"Very well, good driving\";\n    return msg;\n}\nelse if(msg.payload < 0) {\n    msg.payload = \"You are a terrible driver\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":240,"wires":[["94429530.cc7558"]]},{"id":"abc78b16.b407f8","type":"inject","z":"22f1dd09.de0b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":280,"wires":[["df31d363.53ac9","fbe1e1c3.829d5"]]},{"id":"c56f0026.848c6","type":"function","z":"22f1dd09.de0b42","name":"DrawLine","func":"var array = [];\nfor(var g=999999;g>=0;g--) {\n    if(msg.payload[g] !== 0) {\n        var lat = msg.payload[g][0];\n        var lon = msg.payload[g][1];\n        array.push([lat,lon]);\n    }\n}\nmsg.payload = { \"name\":\"A3090\", \"lat\":lat, \"lon\":lon, \"line\":array};\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":280,"wires":[["e9cb33a2.a7b48"]]},{"id":"df31d363.53ac9","type":"random","z":"22f1dd09.de0b42","name":"","low":"49.4","high":"49.6","inte":"false","property":"payload","x":320,"y":240,"wires":[["c36271cf.a14"]]},{"id":"fbe1e1c3.829d5","type":"random","z":"22f1dd09.de0b42","name":"","low":"11","high":"11.2","inte":"false","property":"payload","x":320,"y":320,"wires":[["c36271cf.a14"]]},{"id":"c36271cf.a14","type":"join","z":"22f1dd09.de0b42","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":280,"wires":[["87ae9f5a.87e21"]]},{"id":"e9cb33a2.a7b48","type":"worldmap","z":"22f1dd09.de0b42","name":"","lat":"49.4765","lon":"11.11803","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/cespamap","x":1090,"y":280,"wires":[]},{"id":"da558568.85e778","type":"lon-lat","z":"22f1dd09.de0b42","name":"","querytimerange":1,"x":410,"y":480,"wires":[["af12a4c8.038388"]]},{"id":"36a6acd7.8489a4","type":"inject","z":"22f1dd09.de0b42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":140,"y":480,"wires":[["da558568.85e778"]]},{"id":"c95fbe4b.90634","type":"function","z":"22f1dd09.de0b42","name":"DrawLine","func":"var array = [];\nfor(var g=9;g>=0;g--) {\n    if(msg.payload[g] !== 0) {\n        var lat = msg.payload[g][0];\n        var lon = msg.payload[g][1];\n        array.push([lat,lon]);\n    }\n}\nmsg.payload = { \"name\":\"A3090\", \"lat\":lat, \"lon\":lon, \"line\":array};\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":480,"wires":[["59437f5.d52108"]]},{"id":"59437f5.d52108","type":"worldmap","z":"22f1dd09.de0b42","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/cespamap","x":1090,"y":480,"wires":[]},{"id":"6f53d58c.3ad3cc","type":"debug","z":"22f1dd09.de0b42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":200,"wires":[]},{"id":"87ae9f5a.87e21","type":"buffer-array","z":"22f1dd09.de0b42","name":"","bufferLen":"1000000","startWhenFilled":false,"x":670,"y":280,"wires":[["c56f0026.848c6","6f53d58c.3ad3cc"]]},{"id":"af12a4c8.038388","type":"buffer-array","z":"22f1dd09.de0b42","name":"","bufferLen":"10","startWhenFilled":false,"x":670,"y":480,"wires":[["c95fbe4b.90634"]]},{"id":"7c1cc305.ba420c","type":"vehiclespeed","z":"f5cb9865.36c7b8","name":"","querytimerange":1,"x":1360,"y":160,"wires":[[]]}]