use-cases/Theftprotection.json
[
    {
        "id": "2439e996.b0fd26",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8383a49.8708a",
        "type": "inject",
        "z": "2439e996.b0fd26",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "6298a1ef.40f46"
            ]
        ]
    },
    {
        "id": "6298a1ef.40f46",
        "type": "speed",
        "z": "2439e996.b0fd26",
        "name": "",
        "querytimerange": 1,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "99f1be31.621b28",
                "9ddbe039.d4e238"
            ]
        ]
    },
    {
        "id": "99f1be31.621b28",
        "type": "function",
        "z": "2439e996.b0fd26",
        "name": "",
        "func": "var spd = msg.payload.items[0].spd;\nconsole.log(spd);\nmsg.payload = \"not moving\"\nif(spd > 0.1) {\n    msg.payload = \"moving\"\n}\nconsole.log(msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "9c3e7e8a.a609e8"
            ]
        ]
    },
    {
        "id": "9c3e7e8a.a609e8",
        "type": "switch",
        "z": "2439e996.b0fd26",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "moving",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not moving",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 520,
        "wires": [
            [],
            [
                "4654b891.51ec8"
            ]
        ]
    },
    {
        "id": "9d40044f.403938",
        "type": "sendsms",
        "z": "2439e996.b0fd26",
        "creds": "2b22354f.5f7d8a",
        "to": "4915773452411",
        "fr": "NEXMO",
        "text": "Die Position von Ihrem Scooter hat sich geändert!",
        "unicode": false,
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4654b891.51ec8",
        "type": "debug",
        "z": "2439e996.b0fd26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "9ddbe039.d4e238",
        "type": "debug",
        "z": "2439e996.b0fd26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b22354f.5f7d8a",
        "type": "nexmobasic",
        "z": ""
    }
]